@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="text-center">Trivia Crack</h1>
    <br />

    @Html.ActionLink("Play", "Play", "Home",null, new { @class = "btn btn-large btn-primary"})
    
</div>